<!-- <span class="fa fa-spinner spinner" *ngIf="loading"></span> -->

<nav class="navbar navbar-expand navbar-light bg-light">

  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
      <img src="assets/logo.jpg" alt="Logo" style="width:60px; margin-top:
          0%;">
  </a>
  <ul class="navbar-nav">
      <li class="nav-item">
          <div class="dropdown">
              <button class="dropbtn">&nbsp;&nbsp;&nbsp;Product
                  Management&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <div class="dropdown-content">
                  <a class="nav-link" [routerLink]="['/product-order']"
                      routerLinkActive="active">Place Product Order</a>
                  <a class="nav-link" [routerLink]="['/rawmaterial-order']"
                      routerLinkActive="active">Orders</a>
              </div>
          </div>
      </li>
      <li class="nav-item">
          <div class="dropdown">
              <button class="dropbtn">&nbsp; &nbsp;&nbsp;Raw Material Management
                  &nbsp; &nbsp; &nbsp;</button>
              <div class="dropdown-content">
                  <a class="nav-link" [routerLink]="['product-addStock']"
                      routerLinkActive="active">Place Raw Material Order</a>
                  <a class="nav-link" [routerLink]="['/rawmaterial-addStock']"
                      routerLinkActive="active">Orders</a>
              </div>
          </div>
      </li>
      <li class="nav-item">
          <div class="dropdown">
              <button class="dropbtn">Stock Managment</button>
              <div class="dropdown-content">
                  <a class="nav-link" [routerLink]="['/add-supplier']"
                      routerLinkActive="active">Products</a>
                  <a class="nav-link" [routerLink]="['/add-distributor']"
                      routerLinkActive="active">Raw Material</a>
              </div>
          </div>
      </li>
  </ul>
  <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link" [routerLink]="['/login']">Welcome admin</a>
      </li> -->
      <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/login']" (click)="login()">Log In</a>
      </li>
      <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/home']" (click)="logout()">Log
              Out</a>
      </li>
  </ul>
</nav>
<!-- <div class="container">
  *ngIf="!isLogged"
  <router-outlet></router-outlet>
</div> -->
<router-outlet></router-outlet>