<div id="order">
    <div class="container">
        <br>
        <h1>Add Supplier</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form (ngSubmit)="onSubmit()" #f="ngForm">
                    <table class="table">

                        <tr>
                            <td>
                                <label for="name">Supplier Name</label>
                            </td>
                            <td>
                                <input type="text" id="name" class="form-control" name="supplier-name"
                                    [(ngModel)]="supplierName" #name="ngModel" required>
                                <span style="color:red;" class="help-block" *ngIf="!name.valid && name.touched">Please
                                    enter a valid name !</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="loca">Location</label>
                            </td>
                            <td>

                                <input type="text" id="loac" class="form-control" name="supplier-location"
                                    [(ngModel)]="supplierLocation" #loc="ngModel" required>
                                <span style="color:red;" class="help-block" *ngIf="!loc.valid && loc.touched">Please
                                    enter a valid location!</span>

                            </td>
                        </tr>
                        <tr>
                            <td><label for="phone">Phone Number</label></td>
                            <td>
                                <input type="number" id="phone" pattern="[0-9]{10}" class="form-control" name="phoneno"
                                    [(ngModel)]="supplierPhone" #phone="ngModel" required>
                                <span style="color:red;" class="help-block" *ngIf="!phone.valid && phone.touched">Please
                                    enter a valid Phone number !</span>
                            </td>
                        </tr>
                    </table>
                    <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Order</button>
                </form>
            </div>
        </div>
        <div class="row" *ngIf="submitted">
            <div class="col-xs-12">
                <h3>supplier added ! Supplier id is : {{supplierId}}</h3>
            </div>
            <br><br>
        </div>
    </div>
</div>